:root {
  --gutter-width: 1;
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --grid-sm: 600px;
  --grid-md: 960px;
  --grid-lg: 1280px;
  --grid-xl: 1920px;

  --columns: 12;
  --col-12: 100;
  --col-1: calc(var(--col-12) / var(--columns));
  --col-2: calc(var(--col-1) * 2);
  --col-3: calc(var(--col-1) * 3);
  --col-4: calc(var(--col-1) * 4);
  --col-5: calc(var(--col-1) * 5);
  --col-6: calc(var(--col-1) * 6);
  --col-7: calc(var(--col-1) * 7);
  --col-8: calc(var(--col-1) * 8);
  --col-9: calc(var(--col-1) * 9);
  --col-10: calc(var(--col-1) * 10);
  --col-11: calc(var(--col-1) * 11);
}

@custom-media --xs-viewport-only only screen and (max-width: 599px);
@custom-media --sm-viewport only screen and (min-width: 600px);
@custom-media --sm-viewport-only only screen and (min-width: 600px) and (max-width: 959px);
@custom-media --md-viewport only screen and (min-width: 960px);
@custom-media --md-viewport-only only screen and (min-width: 960px) and (max-width: 1279px);
@custom-media --lg-viewport only screen and (min-width: 1280px);
@custom-media --lg-viewport-only only screen and (min-width: 1280px) and (max-width: 1919px);
@custom-media --xl-viewport only screen and (min-width: 1920px);

.grid {
  margin-right: auto;
  margin-left: auto;
}

.grid.fluid {
  width: auto;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.row.center-xs {
  justify-content: center;
  text-align: center;
}

.row.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5)em;
  padding-left: var(--half-gutter-width, 0.5)em;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col.xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: var(--col-12, 100)%;
}

.col.xs-1 {
  flex-basis: var(--col-1, 8.33333333)%;
  max-width: var(--col-1, 8.33333333)%;
}

.col.xs-2 {
  flex-basis: var(--col-2, 16.66666667)%;
  max-width: var(--col-2, 16.66666667)%;
}

.col.xs-3 {
  flex-basis: var(--col-3, 25)%;
  max-width: var(--col-3, 25)%;
}

.col.xs-4 {
  flex-basis: var(--col-4, 33.33333333)%;
  max-width: var(--col-4, 33.33333333)%;
}

.col.xs-5 {
  flex-basis: var(--col-5, 41.66666667)%;
  max-width: var(--col-5, 41.66666667)%;
}

.col.xs-6 {
  flex-basis: var(--col-6, 50)%;
  max-width: var(--col-6, 50)%;
}

.col.xs-7 {
  flex-basis: var(--col-7, 58.33333333)%;
  max-width: var(--col-7, 58.33333333)%;
}

.col.xs-8 {
  flex-basis: var(--col-8, 66.66666667)%;
  max-width: var(--col-8, 66.66666667)%;
}

.col.xs-9 {
  flex-basis: var(--col-9, 75)%;
  max-width: var(--col-9, 75)%;
}

.col.xs-10 {
  flex-basis: var(--col-10, 83.33333333)%;
  max-width: var(--col-10, 83.33333333)%;
}

.col.xs-11 {
  flex-basis: var(--col-11, 91.66666667)%;
  max-width: var(--col-11, 91.66666667)%;
}

.col.xs-12 {
  flex-basis: var(--col-12, 100)%;
  max-width: var(--col-12, 100)%;
}

.col.xs-offset-0 {
  margin-left: 0;
}

.col.xs-offset-1 {
  margin-left: var(--col-1, 8.33333333)%;
}

.col.xs-offset-2 {
  margin-left: var(--col-2, 16.66666667)%;
}

.col.xs-offset-3 {
  margin-left: var(--col-3, 25)%;
}

.col.xs-offset-4 {
  margin-left: var(--col-4, 33.33333333)%;
}

.col.xs-offset-5 {
  margin-left: var(--col-5, 41.66666667)%;
}

.col.xs-offset-6 {
  margin-left: var(--col-6, 50)%;
}

.col.xs-offset-7 {
  margin-left: var(--col-7, 58.33333333)%;
}

.col.xs-offset-8 {
  margin-left: var(--col-8, 66.66666667)%;
}

.col.xs-offset-9 {
  margin-left: var(--col-9, 75)%;
}

.col.xs-offset-10 {
  margin-left: var(--col-10, 83.33333333)%;
}

.col.xs-offset-11 {
  margin-left: var(--col-11, 91.66666667)%;
}

.col.first-xs {
  order: -1;
}

.col.last-xs {
  order: 1;
}

@media (--xs-viewport-only) {
  .hide-xs {
    display: none;
  }
}

@media (--sm-viewport) {
  .grid {
    width: var(--grid-sm);
  }

  .row.start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .row.center-sm {
    justify-content: center;
    text-align: center;
  }

  .row.end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .col.sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: var(--col-12, 100)%;
  }

  .col.sm-1 {
    flex-basis: var(--col-1, 8.33333333)%;
    max-width: var(--col-1, 8.33333333)%;
  }

  .col.sm-2 {
    flex-basis: var(--col-2, 16.66666667)%;
    max-width: var(--col-2, 16.66666667)%;
  }

  .col.sm-3 {
    flex-basis: var(--col-3, 25)%;
    max-width: var(--col-3, 25)%;
  }

  .col.sm-4 {
    flex-basis: var(--col-4, 33.33333333)%;
    max-width: var(--col-4, 33.33333333)%;
  }

  .col.sm-5 {
    flex-basis: var(--col-5, 41.66666667)%;
    max-width: var(--col-5, 41.66666667)%;
  }

  .col.sm-6 {
    flex-basis: var(--col-6, 50)%;
    max-width: var(--col-6, 50)%;
  }

  .col.sm-7 {
    flex-basis: var(--col-7, 58.33333333)%;
    max-width: var(--col-7, 58.33333333)%;
  }

  .col.sm-8 {
    flex-basis: var(--col-8, 66.66666667)%;
    max-width: var(--col-8, 66.66666667)%;
  }

  .col.sm-9 {
    flex-basis: var(--col-9, 75)%;
    max-width: var(--col-9, 75)%;
  }

  .col.sm-10 {
    flex-basis: var(--col-10, 83.33333333)%;
    max-width: var(--col-10, 83.33333333)%;
  }

  .col.sm-11 {
    flex-basis: var(--col-11, 91.66666667)%;
    max-width: var(--col-11, 91.66666667)%;
  }

  .col.sm-12 {
    flex-basis: var(--col-12, 100)%;
    max-width: var(--col-12, 100)%;
  }

  .col.sm-offset-0 {
    margin-left: 0;
  }

  .col.sm-offset-1 {
    margin-left: var(--col-1, 8.33333333)%;
  }

  .col.sm-offset-2 {
    margin-left: var(--col-2, 16.66666667)%;
  }

  .col.sm-offset-3 {
    margin-left: var(--col-3, 25)%;
  }

  .col.sm-offset-4 {
    margin-left: var(--col-4, 33.33333333)%;
  }

  .col.sm-offset-5 {
    margin-left: var(--col-5, 41.66666667)%;
  }

  .col.sm-offset-6 {
    margin-left: var(--col-6, 50)%;
  }

  .col.sm-offset-7 {
    margin-left: var(--col-7, 58.33333333)%;
  }

  .col.sm-offset-8 {
    margin-left: var(--col-8, 66.66666667)%;
  }

  .col.sm-offset-9 {
    margin-left: var(--col-9, 75)%;
  }

  .col.sm-offset-10 {
    margin-left: var(--col-10, 83.33333333)%;
  }

  .col.sm-offset-11 {
    margin-left: var(--col-11, 91.66666667)%;
  }

  .col.first-sm {
    order: -1;
  }

  .col.last-sm {
    order: 1;
  }
}

@media (--sm-viewport-only) {
  .hide-sm {
    display: none;
  }
}

@media (--md-viewport) {
  .grid {
    width: var(--grid-md);
  }

  .row.start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .row.center-md {
    justify-content: center;
    text-align: center;
  }

  .row.end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .col.md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: var(--col-12, 100)%;
  }

  .col.md-1 {
    flex-basis: var(--col-1, 8.33333333)%;
    max-width: var(--col-1, 8.33333333)%;
  }

  .col.md-2 {
    flex-basis: var(--col-2, 16.66666667)%;
    max-width: var(--col-2, 16.66666667)%;
  }

  .col.md-3 {
    flex-basis: var(--col-3, 25)%;
    max-width: var(--col-3, 25)%;
  }

  .col.md-4 {
    flex-basis: var(--col-4, 33.33333333)%;
    max-width: var(--col-4, 33.33333333)%;
  }

  .col.md-5 {
    flex-basis: var(--col-5, 41.66666667)%;
    max-width: var(--col-5, 41.66666667)%;
  }

  .col.md-6 {
    flex-basis: var(--col-6, 50)%;
    max-width: var(--col-6, 50)%;
  }

  .col.md-7 {
    flex-basis: var(--col-7, 58.33333333)%;
    max-width: var(--col-7, 58.33333333)%;
  }

  .col.md-8 {
    flex-basis: var(--col-8, 66.66666667)%;
    max-width: var(--col-8, 66.66666667)%;
  }

  .col.md-9 {
    flex-basis: var(--col-9, 75)%;
    max-width: var(--col-9, 75)%;
  }

  .col.md-10 {
    flex-basis: var(--col-10, 83.33333333)%;
    max-width: var(--col-10, 83.33333333)%;
  }

  .col.md-11 {
    flex-basis: var(--col-11, 91.66666667)%;
    max-width: var(--col-11, 91.66666667)%;
  }

  .col.md-12 {
    flex-basis: var(--col-12, 100)%;
    max-width: var(--col-12, 100)%;
  }

  .col.md-offset-0 {
    margin-left: 0;
  }

  .col.md-offset-1 {
    margin-left: var(--col-1, 8.33333333)%;
  }

  .col.md-offset-2 {
    margin-left: var(--col-2, 16.66666667)%;
  }

  .col.md-offset-3 {
    margin-left: var(--col-3, 25)%;
  }

  .col.md-offset-4 {
    margin-left: var(--col-4, 33.33333333)%;
  }

  .col.md-offset-5 {
    margin-left: var(--col-5, 41.66666667)%;
  }

  .col.md-offset-6 {
    margin-left: var(--col-6, 50)%;
  }

  .col.md-offset-7 {
    margin-left: var(--col-7, 58.33333333)%;
  }

  .col.md-offset-8 {
    margin-left: var(--col-8, 66.66666667)%;
  }

  .col.md-offset-9 {
    margin-left: var(--col-9, 75)%;
  }

  .col.md-offset-10 {
    margin-left: var(--col-10, 83.33333333)%;
  }

  .col.md-offset-11 {
    margin-left: var(--col-11, 91.66666667)%;
  }

  .col.first-md {
    order: -1;
  }

  .col.last-md {
    order: 1;
  }
}

@media (--md-viewport-only) {
  .hide-md {
    display: none;
  }
}

@media (--lg-viewport) {
  .grid {
    width: var(--grid-lg);
  }

  .row.start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .row.center-lg {
    justify-content: center;
    text-align: center;
  }

  .row.end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .col.first-lg {
    order: -1;
  }

  .col.lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: var(--col-12, 100)%;
  }

  .col.lg-1 {
    flex-basis: var(--col-1, 8.33333333)%;
    max-width: var(--col-1, 8.33333333)%;
  }

  .col.lg-2 {
    flex-basis: var(--col-2, 16.66666667)%;
    max-width: var(--col-2, 16.66666667)%;
  }

  .col.lg-3 {
    flex-basis: var(--col-3, 25)%;
    max-width: var(--col-3, 25)%;
  }

  .col.lg-4 {
    flex-basis: var(--col-4, 33.33333333)%;
    max-width: var(--col-4, 33.33333333)%;
  }

  .col.lg-5 {
    flex-basis: var(--col-5, 41.66666667)%;
    max-width: var(--col-5, 41.66666667)%;
  }

  .col.lg-6 {
    flex-basis: var(--col-6, 50)%;
    max-width: var(--col-6, 50)%;
  }

  .col.lg-7 {
    flex-basis: var(--col-7, 58.33333333)%;
    max-width: var(--col-7, 58.33333333)%;
  }

  .col.lg-8 {
    flex-basis: var(--col-8, 66.66666667)%;
    max-width: var(--col-8, 66.66666667)%;
  }

  .col.lg-9 {
    flex-basis: var(--col-9, 75)%;
    max-width: var(--col-9, 75)%;
  }

  .col.lg-10 {
    flex-basis: var(--col-10, 83.33333333)%;
    max-width: var(--col-10, 83.33333333)%;
  }

  .col.lg-11 {
    flex-basis: var(--col-11, 91.66666667)%;
    max-width: var(--col-11, 91.66666667)%;
  }

  .col.lg-12 {
    flex-basis: var(--col-12, 100)%;
    max-width: var(--col-12, 100)%;
  }

  .col.lg-offset-0 {
    margin-left: 0;
  }

  .col.lg-offset-1 {
    margin-left: var(--col-1, 8.33333333)%;
  }

  .col.lg-offset-2 {
    margin-left: var(--col-2, 16.66666667)%;
  }

  .col.lg-offset-3 {
    margin-left: var(--col-3, 25)%;
  }

  .col.lg-offset-4 {
    margin-left: var(--col-4, 33.33333333)%;
  }

  .col.lg-offset-5 {
    margin-left: var(--col-5, 41.66666667)%;
  }

  .col.lg-offset-6 {
    margin-left: var(--col-6, 50)%;
  }

  .col.lg-offset-7 {
    margin-left: var(--col-7, 58.33333333)%;
  }

  .col.lg-offset-8 {
    margin-left: var(--col-8, 66.66666667)%;
  }

  .col.lg-offset-9 {
    margin-left: var(--col-9, 75)%;
  }

  .col.lg-offset-10 {
    margin-left: var(--col-10, 83.33333333)%;
  }

  .col.lg-offset-11 {
    margin-left: var(--col-11, 91.66666667)%;
  }

  .col.last-lg {
    order: 1;
  }
}

@media (--lg-viewport-only) {
  .hide-lg {
    display: none;
  }
}

@media (--xl-viewport) {
  .grid {
    width: var(--grid-xl);
  }

  .row.start-xl {
    justify-content: flex-start;
    text-align: start;
  }

  .row.center-xl {
    justify-content: center;
    text-align: center;
  }

  .row.end-xl {
    justify-content: flex-end;
    text-align: end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .col.first-xl {
    order: -1;
  }

  .col.xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: var(--col-12, 100)%;
  }

  .col.xl-1 {
    flex-basis: var(--col-1, 8.33333333)%;
    max-width: var(--col-1, 8.33333333)%;
  }

  .col.xl-2 {
    flex-basis: var(--col-2, 16.66666667)%;
    max-width: var(--col-2, 16.66666667)%;
  }

  .col.xl-3 {
    flex-basis: var(--col-3, 25)%;
    max-width: var(--col-3, 25)%;
  }

  .col.xl-4 {
    flex-basis: var(--col-4, 33.33333333)%;
    max-width: var(--col-4, 33.33333333)%;
  }

  .col.xl-5 {
    flex-basis: var(--col-5, 41.66666667)%;
    max-width: var(--col-5, 41.66666667)%;
  }

  .col.xl-6 {
    flex-basis: var(--col-6, 50)%;
    max-width: var(--col-6, 50)%;
  }

  .col.xl-7 {
    flex-basis: var(--col-7, 58.33333333)%;
    max-width: var(--col-7, 58.33333333)%;
  }

  .col.xl-8 {
    flex-basis: var(--col-8, 66.66666667)%;
    max-width: var(--col-8, 66.66666667)%;
  }

  .col.xl-9 {
    flex-basis: var(--col-9, 75)%;
    max-width: var(--col-9, 75)%;
  }

  .col.xl-10 {
    flex-basis: var(--col-10, 83.33333333)%;
    max-width: var(--col-10, 83.33333333)%;
  }

  .col.xl-11 {
    flex-basis: var(--col-11, 91.66666667)%;
    max-width: var(--col-11, 91.66666667)%;
  }

  .col.xl-12 {
    flex-basis: var(--col-12, 100)%;
    max-width: var(--col-12, 100)%;
  }

  .col.xl-offset-0 {
    margin-left: 0;
  }

  .col.xl-offset-1 {
    margin-left: var(--col-1, 8.33333333)%;
  }

  .col.xl-offset-2 {
    margin-left: var(--col-2, 16.66666667)%;
  }

  .col.xl-offset-3 {
    margin-left: var(--col-3, 25)%;
  }

  .col.xl-offset-4 {
    margin-left: var(--col-4, 33.33333333)%;
  }

  .col.xl-offset-5 {
    margin-left: var(--col-5, 41.66666667)%;
  }

  .col.xl-offset-6 {
    margin-left: var(--col-6, 50)%;
  }

  .col.xl-offset-7 {
    margin-left: var(--col-7, 58.33333333)%;
  }

  .col.xl-offset-8 {
    margin-left: var(--col-8, 66.66666667)%;
  }

  .col.xl-offset-9 {
    margin-left: var(--col-9, 75)%;
  }

  .col.xl-offset-10 {
    margin-left: var(--col-10, 83.33333333)%;
  }

  .col.xl-offset-11 {
    margin-left: var(--col-11, 91.66666667)%;
  }

  .col.last-xl {
    order: 1;
  }

  .hide-xl {
    display: none;
  }
}
